//VARIABLES

//Primary colors
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

//Netutral colors
$darkBlue: hsl(217, 54%, 11%);
$cardBGBlue: hsl(216, 50%, 16%);
$lineDarkBlue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0px;
}
